includes:
	- passwords.neon

nette:
	database:
		game:
			dsn: 'pgsql:host=localhost port=5432 dbname=game'
			lazy: TRUE
		dev:
			dsn: 'pgsql:host=localhost port=5432 dbname=coraabia'
			lazy: TRUE
		stage:
			dsn: 'pgsql:host=localhost port=5438 dbname=coraabia'
			lazy: TRUE
		beta:
			dsn: 'pgsql:host=localhost port=5433 dbname=coraabia'
			lazy: TRUE
		adev:
			dsn: 'pgsql:host=localhost port=5432 dbname=audit'
			lazy: TRUE
		astage:
			dsn: 'pgsql:host=localhost port=5438 dbname=audit'
			lazy: TRUE
		abeta:
			dsn: 'pgsql:host=localhost port=5433 dbname=audit'
			lazy: TRUE

parameters:
	bazaarUrls:
		dev: 'http://localhost:8081/bazaar'
		stage: 'http://localhost:8088/bazaar'
		beta: 'http://localhost:8082/bazaar'
