includes:
	- models.neon

parameters:
	langs: [cs, en]
	resourcePath: '/images/resource'
	resourceDir: '%wwwDir%/%resourcePath%'
	bazaarUrls:
		dev: 'http://localhost:8081/bazaar'
		stage: 'http://localhost:8088/bazaar'
		beta: 'http://localhost:8082/bazaar'
	staticUrls:
		dev: 'http://dev.static.coraabia.cz'
		stage: 'http://stage.static.coraabia.cz'
		beta: 'http://static.coraabia.com'
	gameXmlUrls:
		dev: '%staticUrls.dev%/flash-data/game.xml'
		stage: '%staticUrls.stage%/flash-data/game.xml'
		beta: '%staticUrls.beta%/flash-data/game.xml'
	registerUrls:
		dev: 'http://dev.coraabia.cz/register-rest'
		stage: 'http://stage.coraabia.cz/register-rest'
		beta: 'http://beta.coraabia.com/register-rest'
	
php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter
	session:
		expiration: 14 days
	debugger:
		bar:
			- Framework\Diagnostics\TimerPanel(@nette.latte)
			- Framework\Diagnostics\LocalesPanel(@nette.latte)
			- Framework\Diagnostics\TranslationPanel(@nette.latte)
			- Framework\Diagnostics\GitPanel(@nette.latte, ..., %appDir%)
			- Framework\Diagnostics\RestPanel(@nette.latte)

services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	- Framework\Hooks\HookManager
	locales: Model\Locales(%staticUrls%, %langs%)
	- Model\Authenticator(@editor, %applicationSecret%, %hashAlgorithm%)
	mapiRequestFactory: Framework\Mapi\MapiRequestFactory(..., %bazaarUrls%)
	- Framework\Grido\GridoFactory
	- Framework\Application\FormFactory
	kapafaaParser:
		class: Framework\Kapafaa\KapafaaParser
		setup: [ loadClassData ]
	xmlFactory: Framework\Xml\XmlFactory
	editorDatasourceFactory: Model\DataSources\Factories\EditorDatasourceFactory
	coraabiaDatasourceFactory: Model\DataSources\Factories\CoraabiaDatasourceFactory
	auditDatasourceFactory: Model\DataSources\Factories\AuditDatasourceFactory
	statsDatasourceFactory: Model\DataSources\Factories\StatsDatasourceFactory
	gameDatasourceFactory: Model\DataSources\Factories\GameDatasourceFactory
	bazaarDatasourceFactory: Model\DataSources\Factories\BazaarDatasourceFactory
	authorizator:
		class: Model\Authorizator(@editor)
		setup: [ setupPermissions ]
	translator:
		class: Model\Translator(@game)
		setup: [ setupTranslations ]
	user:
		setup: [ @authorizator::setupOnLoggedOut, @translator::setupOnLoggedOut ]
	application:
		setup: [ @locales::setupOnRequest ]

factories:
	nette.latte:
		setup: [ Framework\Hooks\HookMacros::setup ]