includes:
	- passwords.neon

dibi:
	driver: postgre
	host: localhost
	port: 5432
	database: game
	lazy: TRUE

parameters:
	bazaarUrls:
		dev: 'http://localhost:8081/bazaar'
		stage: 'http://localhost:8088/bazaar'
		beta: 'http://localhost:8082/bazaar'
