parameters:
	langs: [cs, en]
	resourcePath: '/images/resource'
	resourceDir: '%wwwDir%/%resourcePath%'
	
php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter
	session:
		expiration: 14 days
	debugger:
		bar:
			- Framework\Diagnostics\TimerPanel(@nette.latte)
			- Framework\Diagnostics\LocalesPanel(@nette.latte)
			- Framework\Diagnostics\TranslationPanel(@nette.latte)
			- Framework\Diagnostics\GitPanel(@nette.latte, ..., %appDir%)

services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	- Framework\Hooks\HookManager
	locales: Model\Locales(%staticUrls%, %langs%)
	- Model\Authenticator(@game, %applicationSecret%, %hashAlgorithm%)
	- Framework\Mapi\MapiRequestFactory(..., %bazaarUrls%)
	- Framework\Grido\GridoFactory
	- Framework\Application\FormFactory
	xmlFactory: Framework\Xml\XmlFactory
	- Model\GameXmlFactory
	- Model\CoraabiaFactory
	- Model\AuditFactory
	source.game: Model\Datasource\DatabaseSource(@nette.database.game)
	source.game.dev: Model\Datasource\XmlSource(@xmlFactory::createXml(%gameXmlUrls.dev%), %gameXmlUrls.dev%)
	source.game.stage: Model\Datasource\XmlSource(@xmlFactory::createXml(%gameXmlUrls.stage%), %gameXmlUrls.stage%)
	source.game.beta: Model\Datasource\XmlSource(@xmlFactory::createXml(%gameXmlUrls.beta%), %gameXmlUrls.beta%)
	source.coraabia.dev: Model\Datasource\DatabaseSource(@nette.database.coraabia.dev)
	source.coraabia.stage: Model\Datasource\DatabaseSource(@nette.database.coraabia.stage)
	source.coraabia.beta: Model\Datasource\DatabaseSource(@nette.database.coraabia.beta)
	source.audit.dev: Model\Datasource\DatabaseSource(@nette.database.audit.dev)
	source.audit.stage: Model\Datasource\DatabaseSource(@nette.database.audit.stage)
	source.audit.beta: Model\Datasource\DatabaseSource(@nette.database.audit.beta)
	game: Model\Game(@source.game)
	game.dev: Model\GameXml(@source.game.dev)
	game.stage: Model\GameXml(@source.game.stage)
	game.beta: Model\GameXml(@source.game.beta)
	coraabia.dev: Model\Coraabia(@source.coraabia.dev)
	coraabia.stage: Model\Coraabia(@source.coraabia.stage)
	coraabia.beta: Model\Coraabia(@source.coraabia.beta)
	audit.dev: Model\Coraabia(@source.audit.dev)
	audit.stage: Model\Coraabia(@source.audit.stage)
	audit.beta: Model\Coraabia(@source.audit.beta)
	authorizator:
		class: Model\Authorizator(@game)
		setup: [ setupPermissions ]
	translator:
		class: Model\Translator(@game)
		setup: [ setupTranslations ]
	user:
		setup: [ @authorizator::setupOnLoggedOut, @translator::setupOnLoggedOut ]
	application:
		setup: [ @locales::setupOnRequest ]

factories:
	nette.latte:
		setup: [ Framework\Hooks\HookMacros::setup ]