services:
	source.editor: Model\DataSources\DatabaseSource(@nette.database.editor)
	source.game: Model\DataSources\DatabaseSource(@nette.database.game)
	source.game.dev: Model\DataSources\XmlSource(@xmlFactory::createXml(%gameXmlUrls.dev%), %gameXmlUrls.dev%)
	source.game.stage: Model\DataSources\XmlSource(@xmlFactory::createXml(%gameXmlUrls.stage%), %gameXmlUrls.stage%)
	source.game.beta: Model\DataSources\XmlSource(@xmlFactory::createXml(%gameXmlUrls.beta%), %gameXmlUrls.beta%)
	source.coraabia.dev: Model\DataSources\DatabaseSource(@nette.database.coraabia.dev)
	source.coraabia.stage: Model\DataSources\DatabaseSource(@nette.database.coraabia.stage)
	source.coraabia.beta: Model\DataSources\DatabaseSource(@nette.database.coraabia.beta)
	source.audit.dev: Model\DataSources\DatabaseSource(@nette.database.audit.dev)
	source.audit.stage: Model\DataSources\DatabaseSource(@nette.database.audit.stage)
	source.audit.beta: Model\DataSources\DatabaseSource(@nette.database.audit.beta)
	source.stats.dev: Model\DataSources\DatabaseSource(@nette.database.stats.dev)
	source.stats.stage: Model\DataSources\DatabaseSource(@nette.database.stats.stage)
	source.stats.beta: Model\DataSources\DatabaseSource(@nette.database.stats.beta)
	source.bazaar: Model\DataSources\MapiSource(@mapiRequestFactory)
	editor: Model\Editor(@editorDatasourceFactory::access())
	game: Model\Game(@gameDatasourceFactory::access())
	coraabia: Model\Coraabia(@coraabiaDatasourceFactory::access())
	audit: Model\Audit(@auditDatasourceFactory::access())
	stats: Model\Stats(@statsDatasourceFactory::access())
	bazaar: Model\Bazaar(@bazaarDatasourceFactory::access())
