<div class="sidebar well">
	<ul class="nav nav-list">
		<li class="nav-header">{_'Aktivity'}</li>
		<li n:ifAuthorized {ifCurrent Activity:activityList} class="active"{/ifCurrent}><a href="{plink Activity:activityList}">{_'Aktivity'}</a></li>
		<li{ifCurrent Gameroom:showGamerooms} class="active"{/ifCurrent}><a href="{plink Gameroom:showGamerooms}">{_'Gameroomy'}</a></li>
		<li class="divider"></li>
		<li class="nav-header">{_'Karty'}</li>
		<li{ifCurrent Card:spoiler} class="active"{/ifCurrent}><a href="{plink Card:spoiler}">{_'Spoiler'}</a></li>
		<li{ifCurrent Card:timeLine} class="active"{/ifCurrent}><a href="{plink Card:timeLine}">{_'Timeline'}</a></li>
		<li class="divider"></li>
		<li class="nav-header">{_'Konexe'}</li>
		<li{ifCurrent Connection:showConnections} class="active"{/ifCurrent}><a href="{plink Connection:showConnections}">{_'Konexe'}</a></li>
		<li class="divider"></li>
		<li class="nav-header">{_'Arty'}</li>
		<li{ifCurrent Image:artists} class="active"{/ifCurrent}><a href="{plink Image:artists}">{_'Artisté'}</a></li>
		<li class="divider"></li>
		<li class="nav-header">{_'Ostatní'}</li>
		<li{ifCurrent Text:gameTexts} class="active"{/ifCurrent}><a href="{plink Text:gameTexts}">{_'Herní texty'}</a></li>
	</ul>
</div>