<div class="well">
	<ul class="nav nav-list">
		{hook sidebar}
		<li><a href="{plink Activity:showCreateActivity}">{_'Vytvořit aktivitu'}</a></li>
		<li class="nav-header">{_'Ostatní'}</li>
		<li><a href="{plink Sign:out}">{_'Odhlásit'}</a></li>
	</ul>
</div>