<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="{plink User:showProfile, server => dev}">{_'Coraabia Admin'}</a>
		<ul class="nav" n:if="$user->isLoggedIn()">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{_'Karty'}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink Card:showSpoiler}">{_'Spoiler'}</a></li>
					<li><a href="{plink Card:cardTimeLine}">{_'Timeline'}</a></li>
					<li><a href="{plink Deck:showDeckList}">{_'Balíky'}</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{_'Audit'}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink Audit:showAudit}">{_'Audit'}</a></li>
					<li><a href="{plink Audit:bazaarAudit}">{_'Bazaar'}</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{_'Obchod'}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink Xot:showBazaarRefills}">{_'Nákup měny'}</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{_'Ostatní'}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink News:showNewsList}">{_'Novinky'}</a></li>
					<li><a href="{plink Text:showStaticList}">{_'Herní texty'}</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav pull-right" n:if="$user->isLoggedIn()">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$locales->server|upper}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink this, server => dev}">{_'DEV'}</a></li>
					<li><a href="{plink this, server => stage}">{_'STAGE'}</a></li>
					<li><a href="{plink this, server => beta}">{_'BETA'}</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$locales->lang|upper}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{plink this, lang => cs}">{_'CS'}</a></li>
					<li><a href="{plink this, lang => en}">{_'EN'}</a></li>
				</ul>
			</li>
			{if $user->isLoggedIn()}
			<li class="divider-vertical"></li>
			<li><a href="{plink Sign:out}">{_'Odhlásit'}</a></li>
			{/if}
		</ul>
	</div>
</div>