{layout none}

{#content}
<h1>{_'Stránka nenalezena'}</h1>

<p>{_}Stránku kterou hledáte nemůžeme najít.
Je možné, že byla zrušena, nebo že jste zadali špatnou adresu.{/_}</p>

<p><small>error 404</small></p>
{/#}