{layout none}

{#content}
<h1>{_'Server Error'}</h1>

<p>{_}Omlouváme se!
Na serveru se vyskytla chyba a váš požadavek nemohl být zpracován.
Zkuste to prosím později.{/_}</p>

<p><small>error 500</small></p>
{/#}