<h1>{_'Locales'}</h1>
<div class="nette-inner">
	<table>
		<tr>
			<th>{_'Modul'}</th>
			<td>{$locales->module|upper}</td>
		</tr>
		<tr>
			<th>{_'Server'}</th>
			<td>{$locales->server|upper}</td>
		</tr>
		<tr>
			<th>{_'Jazyk'}</th>
			<td>{$locales->lang|upper}</td>
		</tr>
		<tr>
			<th>{_'Čas'}</th>
			<td>{$locales->timestamp|date:'d.m.Y H:i:s'}</td>
		</tr>
	</table>
</div>