<div class="well span5" data-bind="sortable: gamerooms">
	<span class="btn" style="margin: 0.2em 0.3em;" data-bind="text: translated_name"></span>
</div>

<div class="well span5" data-bind="sortable: activityGamerooms">
	<span class="btn active" style="margin: 0.2em 0.3em;" data-bind="text: translated_name"></span>
</div>