<script type="text/javascript" src="{$basePath}/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/knockout.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/knockout-sortable.min.js"></script>
<script type="text/javascript">
	var jsCodes = {
		gamerooms: {$gamerooms}
	};
</script>
<script type="text/javascript" src="{$basePath}/js/components/activity.js"></script>