{$result}

<table>
	<tr>
		<th n:foreach="$keys as $key">{$key}</th>
	</tr>
	<tr n:foreach="$test as $data">
		<td n:foreach="$keys as $key">{ifset $data[$key]}{$data[$key]}{/ifset}</td>
	</tr>
</table>