{layout '@layout.latte'}

{#libStyles}{/#}

{#serverStyles}{/#}

{#header}{/#}

{#main}
<div id="main" class="container-fluid">
	<div class="row-fluid">
		<div class="span6 offset3">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{_$flash->message}
			</div>

			{include #content}
		</div>
	</div>
</div>
{/#}
			
{#libScripts}{/#}