.guardian {
	color: #459cd8 !important;
}

.xenno {
	color: #63d411 !important;
}

.mercenary {
	color: #b2b2b1 !important;
}

.unliving {
	color: #b1980a !important;
}

.outlaw {
	color: #db2929 !important;
}