/* separate menu and content */
.navbar { margin-bottom: 1em; }

/* minimal height and padding for sidebar so it doesn't look ugly */
.sidebar { min-height: 200px; padding: 1em 0.4em; }

/* fraction colors */
.guardian { color: #459cd8 !important; }
.xenno { color: #63d411 !important; }
.mercenary { color: #b2b2b1 !important; }
.unliving { color: #b1980a !important; }
.outlaw { color: #db2929 !important; }

/* adjust grido layout */
.grido td { height: auto; padding-top: 3px; padding-bottom: 3px; }
.grido th.column { width: auto; }
.grido th.actions { width: auto; min-width: 150px; }
.grido.filter.outer .items { width: 86%; }
.grido.filter.outer .items span { width: auto; }
.grido input.date { background: #fff; }

/* multioption form control */
.multioption label { display: inline-block; margin-right: 20px; }
.multioption .radio input[type="radio"],
.multioption .checkbox input[type="checkbox"] { margin-left: -20px; }

/* adjust bootstrap layout */
input, textarea, .uneditable-input { width: 309px; }
select { width: 323px; }
label.control-label.required { font-weight: bold; }

/* gallery */
.gallery .images img { display: inline-block; }
.gallery .images a { display: inline-block; }
.gallery .images a:hover img { background-color: #F5F5F5; }

/* blink */
@keyframes blink {
	from { opacity: 1; }
	20% { opacity: 1; }
    50% { opacity: 0; }
	80% { opacity: 1; }
	to { opacity: 1; }
}
@-webkit-keyframes blink {
	from { opacity: 1; }
    20% { opacity: 1; }
    50% { opacity: 0; }
	80% { opacity: 1; }
	to { opacity: 1; }
}
.blink {
	-webkit-animation: blink 1.6s linear infinite;
	-moz-animation: blink 1.6s linear infinite;
	animation: blink 1.6s linear infinite;
}

/* highlight nette broken links */
a[href~="error:"] { background: #f00 !important; color: #fff !important; }

/** missing bootstrap classes */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


.activity-gamerooms .gamerooms { min-height: 36px; }
.activity-gamerooms .gamerooms .btn { margin-top: 3px; margin-right: 3px; }

.parent-activities .activities { min-height: 36px; }
.parent-activities .activities .btn { margin-top: 3px; margin-right: 3px; }

.max-width { width: 97%; }
.object-wrapper { margin-bottom: 5px; padding: 3px; }
.kapafaaDefinitions .btn { margin-top: 3px; }
.parameter-wrapper > input { margin-bottom: 3px; }
	