a {
	color: #F77700;
}

a:hover {
	color: #7B3B00;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    background-color: #F77700;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #F77700;
    background-image: linear-gradient(to bottom, #FF7F00, #EF6F00);
}

#header .navbar-inner {
    background-color: #F77700;
    background-image: linear-gradient(to bottom, #FF7F00, #EF6F00);
	border-bottom-color: #7B3B00;
}

#header .navbar .brand,
#header .navbar .nav > li > a {
	text-shadow: 0 1px 0 #3D1D00;
}

#header .navbar-inverse .brand,
#header .navbar-inverse .nav > li > a {
	color: #EEEEEE;
}

#header .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #EEEEEE;
    border-top-color: #EEEEEE;
}

#header .navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret,
#header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
#header .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
#header .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

#header .navbar-inverse .brand:hover,
#header .navbar-inverse .nav > li > a:hover,
#header .navbar-inverse .nav > li > a:focus,
#header .navbar-inverse .nav > li > a:hover {
	color: #FFFFFF;
}

#header .navbar .nav li.dropdown.open > .dropdown-toggle,
#header .navbar .nav li.dropdown.active > .dropdown-toggle,
#header .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #7B3B00;
}

#header .navbar .divider-vertical {
    border-left: 1px solid #7B3B00;
    border-right: 1px solid #7B3B00;
}